<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker *ngFor="let car of illegalCars" [latitude]="car.lat" [longitude]="car.lon" [iconUrl]="car.icon">
    <sebm-google-map-info-window>
      <button md-button color="primary" (click)="gotoDetail(car.id)">STATISTICS</button>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>

<md-card>
  <md-card-title>Title</md-card-title>
  <md-card-title-group>Title group</md-card-title-group>
  <md-card-content>Content</md-card-content>
  <md-card-actions>
    <button md-button>FLAT</button>
  </md-card-actions>
</md-card>
